#tweet-list {
  article {
    margin: 0 2em 1em;
    border-radius: 5px;
    padding: 0;
    border: 1px solid $main-grey;
    &:hover {
      border-color: #666666;

      &.tweet header {
        opacity: 1;
      }

      .icons {
        display: inline;
      }
    }
  }

  .tweet {
    header {
      background-color: $main-grey;
      border-radius: 5px 5px 0 0;
      opacity: 0.5;
      padding: 0.5em;
    }

    .avatar {
      vertical-align: top;
    }

    .author {
      font-size: 1.5em;
      font-weight: bold;
      margin-left: 0.3em;
    }

    .handle {
      color: #666666;

      @media all and (min-width: 400px) {
        float: right;
      }
    }

    .tweet-body {
      padding: 0.5em;
      word-wrap: break-word;
    }

    footer {
      border-top: 1px solid #eee;
      font-size: 0.8em;
      padding: 0.5em;
    }

    .icons {
      -webkit-user-select: none;
      color: $nav-green;
      float: right;
      display: none;
      opacity: 0.75;

      .flagged { color: #F58A29; }
      .retweeted { color: #3BD4FB; }
      .liked { color: red; }
    }
  }
}