$nav-green: #00a087;

#nav-bar {
  height: 80px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: $nav-green;
  color: #e8fdff;
  padding-left: 2em;
  padding-right: 2em;
  z-index: 1;

  .logo {
    height: 80px;
    width: 80px;
    float: left;
  }

  .bird-noise {
    position: absolute;
    -webkit-user-select: none;
  }

  .header {
    font-size: 200%;
    float: left;
    line-height: 80px;
    margin-left: 10px;
  }

  .right-nav {
    float: right;
    margin-top: 10px;
    height: 75%;
  }

  .compose {
    opacity: 0.75;
    background-color: white;
    height: 100%;
    border-radius: 5px;
    border: 1px solid black;
    &:hover { opacity: 1.0; }
  }
}