$dark-green: #244751;
$main-grey: #eee;

.new-tweet {
  margin: 0 2em 2em;
  background-color: $main-grey;
  border-radius: 5px;
  border: 1px solid #666666;
  padding: 0.5em;
  display: none;

  h2 {
    border-bottom: 1px solid #000;
    margin-top: 0;
  }

  textarea {
    padding: 5px;
    width: 100%;
  }

  .counter {
    font-style: italic;
    color: $dark-green;
    float: right;
    line-height: 26px;
    &.invalid { color: #f00; }
  }
}