#nav-bar {
  height: 80px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #00a087;
  color: #e8fdff;
  padding-left: 2em;
  padding-right: 2em;
  z-index: 1;
}

#nav-bar .logo {
  height: 80px;
  width: 80px;
  float: left;
}

#nav-bar .header {
  font-size: 200%;
  float: left;
  line-height: 80px;
  margin-left: 10px;
}