.new-tweet {
  margin: 0 2em 2em;
  background-color: #eee;
  border-radius: 5px;
  border: 1px solid #666666;
  padding: 0.5em;
  display: none; }
  .new-tweet .warning {
  color: red; }
  .new-tweet h2 {
    border-bottom: 1px solid #000;
    margin-top: 0; }
  .new-tweet textarea {
    padding: 5px;
    width: 100%; }
  .new-tweet .counter {
    font-style: italic;
    color: #244751;
    float: right;
    line-height: 26px; }
    .new-tweet .counter.invalid {
      color: #f00; }
